*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.flex-20 {
    flex-basis: 20%;
}

.flex-60 {
    flex-basis: 60%;
}
@media (max-width: 640px){
    .split{
        flex-direction: column;
    }
}


/*Home*/

.img {
    /* max-width: 100%; */
    height: auto;
    display: block;
  }
  .call-to-action{
    /* The background image of the landing page */
    background-image: url("../img/home_background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 1em;
    
  }

  
.home_website_name{
    font-size: 30px;
    margin-left: 5%;
}

.home_headings{
    position: absolute;
    display: inline-flex;
    left: 75%;
    top: 10%;
    list-style: none;
    font-size: 25px;
}
.navbar-brand{
    color: white;
}
#home_background{
    background-size: cover;
  background-position: center;
  height: 94vh;
  
  padding: 1em;
}
.home_arrow_div{
    position: absolute;
    top: 25%;
    left: 87%;
    transform: translate(-50% , 50%);
    background-color: rgba(29, 29, 29, 0.6);
    color: white;
    backdrop-filter: blur(3px);
    width: 200px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    text-shadow: 2px 2px 5px black;
}
.home_arrow_div:hover{
    box-shadow: 0px 0px 8px rgb(0, 217, 255);
}
#home_arrow_btn{
    width: 100px;
}
#home_arrow_btn:hover{
    filter: drop-shadow(0px 0px 10px rgb(0, 217, 255));
    cursor: pointer;
}

