.flex-20 {
    flex-basis: 20%;
}

.flex-60 {
    flex-basis: 60%;
}
@media (max-width: 640px){
    .split{
        flex-direction: column;
    }
}
.home_body{
    padding: 0;
    margin: 0;
    border: 0;
}
/* .home_nav_design{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 80px;
    background-color: red;
    display: inline;
} */
.home_headings{
    position: absolute;
    list-style: none;
    display: inline;
    width: fit-content;
    height: fit-content;
}