@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/*
COLORS:
#393e46 black
#00adb5 dark blue
#aad8d3 light blue
#eeeeee white
*/
:root{
    --black:#393e46;
    --dark-blue:#00adb5;
    --light-blue:#aad8d3;
    --white: #eeeeee;
}

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

ul[class]{
    list-style: none;
}

.flex-20 {
    flex-basis: 20%;
}

.flex-60 {
    flex-basis: 60%;
}
/* utility classes */
.split{
    display: flex;
}

@media (max-width: 640px){
    .split{
        flex-direction: column;
    }
}
.flow-content > * + * {
    margin-top: var(--spacer,1em);
}
div.content{
    min-height: 85vh;
}
body > .navbar{
    min-height: 10vh;
}
footer > ul{
    min-height:5vh;
}
/*Home*/
<<<<<<< HEAD
<<<<<<< HEAD

 .img {
    /* max-width: 100%; */
    height: auto;
    display: block;
  } 
=======

.img {
    /* max-width: 100%; */
    height: auto;
    display: block;
  }
>>>>>>> parent of 5fa52c2 (created home page based on theme)
  .call-to-action{
    /* The background image of the landing page */
    background-image: url("../img/home_background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 1em;
    flex-direction: column;
  }

  
.home_website_name{
    font-size: 30px;
    margin-left: 5%;
}

.home_headings{
    position: absolute;
    display: inline-flex;
    left: 75%;
    top: 10%;
    list-style: none;
    font-size: 25px;
}
.navbar-brand{
    color: white;
}
#home_background{
    background-size: cover;
  background-position: center;
  height: 94vh;
  
  padding: 1em;
}
.home_arrow_div{
    position: absolute;
    top: 25%;
    left: 87%;
    transform: translate(-50% , 50%);
    background-color: rgba(29, 29, 29, 0.6);
    color: white;
    backdrop-filter: blur(3px);
    width: 200px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    text-shadow: 2px 2px 5px black;
<<<<<<< HEAD
    /* margin: auto !important; */
=======
>>>>>>> parent of 5fa52c2 (created home page based on theme)
}
.home_arrow_div:hover{
    box-shadow: 0px 0px 8px rgb(0, 217, 255);
}
#home_arrow_btn{
    width: 100px;
}
#home_arrow_btn:hover{
    filter: drop-shadow(0px 0px 10px rgb(0, 217, 255));
    cursor: pointer;
<<<<<<< HEAD
=======
.home-body{
    font-family: 'Rubik' , sans-serif;
<<<<<<< HEAD
>>>>>>> 5fa52c2d40136e3c69e4e49d011c8ec19e1a654f
=======
    background-color: #eeeeee;
>>>>>>> fb7a7f287a93963037345aabc099b31ae96f7aa0
}
.call-to-action{
    font-family: 'Courier New', Courier, monospace;
    
}
.home-main-section{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    width: 90%;
    background-color: #eeeeee;
    border-radius: 10px;
    box-shadow:  5px 5px 10px #d9d9d9,
             -5px -5px 10px #ffffff;
}
.home-heading{
    margin-left: 45px;
    color: #00adb5;
}
.home-button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 400px;
}
.home-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.home-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.home-button:hover{
    background-color: #eeeeee;
    color: #f4511e;
    border: 2px solid #f4511e;
    box-shadow: 1px 1px 5px #f4511e;
} 
.home-button:hover span {
    padding-right: 25px;
}
  
.home-button:hover span:after {
    opacity: 1;
    right: 0;
=======
>>>>>>> parent of 5fa52c2 (created home page based on theme)
}
/********************************/
/*Content*/
.content_navbar{
    background-color: #393e46 ;
    color: #eeeeee;
    z-index: 100;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
<<<<<<< HEAD
    box-shadow:  2px 2px 10px rgb(57, 62, 70, 0.8);
=======
>>>>>>> parent of 5fa52c2 (created home page based on theme)
}
.content_nav_link{
    color: #eeeeee;
    margin-right: 10px;
}
.content_nav_link:hover{
    color: #00adb5;
}
.nti{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    color: #eeeeee;
}
/********************************/
/*Contact*/
.navbar-brand{
    margin-left: 60px;
}
.navbar-nav{
    margin-right: 40px;
}
.contact_body{
    background-color: #eeeeee;
    font-family: 'Rubik', sans-serif;
}
.contact_container{
    width: 50vw;
    height: 92vh;
    box-shadow:  5px 5px 10px #d9d9d9,
             -5px -5px 10px #ffffff;                          
}
.contact_input{
    box-shadow: inset 5px 5px 10px #d9d9d9,
            inset -5px -5px 10px #ffffff;
}
.contact_text{
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 50vw;
    height: 80px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    background-color: #393e46;
    color: #eeeeee;
    font-size: 35px;
    padding-top: 20px;
}
#contact_submit_btn{
    background-color: #aad8d3;
    color: #393e46;
}
#contact_submit_btn:hover{
    cursor: pointer;
    background-color: #00adb5;
    color: #eeeeee;
    box-shadow: 0px 2px 5px rgb(0, 173, 181 , 0.5);   
}
.contact_us_div{
    background-color: #393e46;
    color: #eeeeee;
    /* margin-left: 343px; */
    border-radius: 10px 10px 0px 0px;
}
@media (max-width: 1022px){
    .contact_container{
        width: fit-content;
        height: 94vh;                          
    }
    .contact_text{
        width: fit-content;
        padding: 10px 50px 0px 50px;
    }
}
/********************/

/* about us page */
.aboutUs_body{
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Rubik' , sans-serif ;
}
.team-container{
    width: 100%;
    height: auto;
}
@media (max-width: 40em) {
    .team-container{
        padding: 1em;
    }
    .contact_us_div{
        background-color: #393e46;
        color: #eeeeee;
        /* margin-left: 43px; */
        border-radius: 10px 10px 0px 0px;
        box-shadow: 2px 2px 5px #393e46; 
    }
    
}
.teams{
    justify-content: space-between;
    min-height: 65vh;
    gap:2em;
}
/*added below class to select whole container, and give shape and shadow*/
.aboutUs_main{
    display: flex;
    margin: auto;
    margin-top: 10px;
    align-items: center;
    width: 80%;
    height: 80%;
    box-shadow:  5px 5px 10px #d9d9d9,
             -5px -5px 10px #ffffff;  
    border-radius: 10px;
}
.team-container > header {
    min-height: 30vh;
    background: #393e46;
    color: #eeeeee;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
.team-member{
    background-color: #eeeeee;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: 0px 0px 10px 10px;
}
/*for hover effect*/
.team-member:hover{
    cursor: pointer;
    box-shadow:  0px 0px 5px #393e46;
}
/* making img circular*/
.team-member > img {
    border-radius: 50%;
}
/* making links placed horizontally with space in between (using gap property of flex)*/
.team-member > .social{
    display: flex;
    gap: 1em;
}

/* content page */
#source_code{
    min-height: 35vh;
    width: 100%;
}

#preview {
    background-color: #00adb5;
    min-height: 25vh;
    color: white;
}

.compiler-mobile {
    position: absolute;
    z-index: 99999;
    top: .3rem;
    bottom: .3rem;
    left: .3em;
    right: .3em;
}
#compilerBtn{
    display: none;
    float: right;
    width: 100px;
    height: 50px;
    z-index: 100;
    border: #393e46;
}
.compiler_mobile{
    display: none;
    border: solid 2px #393e46;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 100;
    width: 70%;
}
#compilerCloseBtn{
    width: 100px;
    height: 50px;
    border: solid 2px #393e46;
    background-color: rgb(57, 62, 70 ,0.5);
    color: #eeeeee;
}
@media screen and (max-width: 768px) {
    .compiler{
        display: none;
    }
    #compilerBtn{
        display: block;
    }
}
@media screen and (min-width: 768px) {
    .compiler_mobile{
        display: none;
    }
}